@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .hover-btn{
        @apply content-[''] after:bg-red-500 after:block after:scale-x-0 hover:after:scale-x-100 after:transition-all after:delay-200  after:origin-left after:h-[2px] text-xl
    }
}

SimpleImageSlider {
    background-size: contain !important ;
    height : 60vh ;
    width : 100vh;
  }